@charset "utf-8";

.wrap {
    max-width: 980px;
    margin: 0 auto;
}

/*メニュー1*/

.menu1 {
    display: flex;
    list-style: none;
}

.menu1 li {
    padding: 10px 15px;
    background: #000;
    color: #fff;
    border-left: 1px solid #fff;
}

/*メニュー2*/
.menu2 {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.menu2 li {
    padding: 10px 15px;
    background: #000;
    color: #fff;
    border-left: 1px solid #fff;
}

/*メニュー3*/

.menu3 {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.menu3 li {
    padding: 10px 15px;
    background: #000;
    color: #fff;
    border-left: 1px solid #fff;
    box-sizing: border-box;
    width: 20%;
    text-align: center;
}
