@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
  margin: 0;
  padding: 0;
  line-height: 1;
  /*デフォルトの文字色、font-familyを予め当てておく*/
  color: #4a2813;
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3",
    "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "MS Ｐ明朝",
    "MS 明朝", serif;
  font-feature-settings: "palt";
}

a {
  /*下線を消す*/
  text-decoration: none;
  /*色を消す*/
  color: inherit;
  transition: 0.3s;
}

a:hover {
  opacity: 0.5;
}

ul {
  /*左の「・」を消す*/
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border: none;
}
/*ここからがcafeサイトのトレーシング課題です。*/

/*ヘッダー*/
.header_slider img {
  width: 100%;
}
.header_wrap {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 7% 0 3%;
  box-sizing: border-box;
}

.header_logo {
  width: 226px;
}

.pc_nav ul {
  display: flex;
}

.pc_nav ul li {
  width: 105px;
  margin-left: 55px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  text-align: center;
}

/*メイン*/
main {
  background-color: #e8d9bf;
}

.message,
.about,
.menu,
.event {
  max-width: 1000px;
  margin: 0 auto;
}

/*message*/

.message {
  text-align: center;
  padding: 100px 0 90px;
}

.message h2 {
  font-size: 82px;
  font-weight: normal;
  margin-bottom: 25px;
  line-height: 1.17;
  letter-spacing: 0.1rem;
}

.message_main p {
  font-size: 30px;
  margin-bottom: 50px;
}

.message_sub p {
  font-size: 23px;
  letter-spacing: 0.1rem;
  line-height: 1.65;
}

/*about*/

.about {
  display: flex;
  justify-content: space-between;
}

.about_image img {
  border-radius: 0 0 82px 0;
}

.about_discription {
  padding: 50px 10px 0 0s;
  box-sizing: border-box;
  width: 42%;
}

.about_discription h2 {
  width: 66%;
  margin-bottom: 40px;
}

.about_discription h3 {
  font-size: 44px;
  line-height: 1.38;
  margin-bottom: 40px;
  font-weight: normal;
}

.about_discription p {
  font-size: 16px;
  line-height: 1.62;
}

/*Menu*/
.menu {
  padding: 0 10px;
}

.menu h2 {
  width: 15%;
  margin: 95px auto 40px;
}

.menu_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 85px;
}

.menu_wrap div {
  width: 30%;
}

.menu_wrap div img {
  border-radius: 0 41px 0 0;
}

.menu_wrap div h3 {
  color: #d30202;
  font-size: 38px;
  margin: -8px auto 15px 26px;
}

.menu_wrap div p {
  font-size: 17px;
  line-height: 1.47;
}

/*Gallery*/
.gallery h2 {
  width: 20%;
  max-width: 245px;
  margin: 0 auto 15px;
}

.gallery_content {
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
}

/*event*/
.event {
  padding: 0 10px;
}

.event h2 {
  width: 17%;
  text-align: center;
  margin: 60px auto 30px;
}

.event_details {
  border: 3px solid #4a2813;
  background-color: #fff;
  display: flex;
  justify-content: center;
  padding: 27px;
}

.event_details li {
  font-size: 23px;
  line-height: 2;
}

.event_details a {
  text-decoration: underline 2px #4a2813;
  margin-left: 55px;
}

/*access*/

.access h2 {
  width: 20%;
  max-width: 213px;
  margin: 70px auto 40px;
}

.access iframe {
  width: 100%;
  display: block;
  height: 470px;
}

/*footer*/
.footer {
  background-color: #fff;
  padding: 80px 10px;
}

.footer_wrap {
  max-width: 1000px;
  display: flex;
  margin: 0 auto 60px;
}

.footer_logo {
  margin-right: 70px;
  width: 226px;
}

.footer_wrap li {
  color: black;
  font-size: 20px;
  margin-bottom: 20px;
}
.footer p {
  text-align: center;
  margin-bottom: 40px;
  color: black;
}

/* ボタン */
.pagetop {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 125px;
}
