@charset "utf-8";

ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  max-width: 980px;
  margin: 0 auto;
  padding: 0;
}

ul li {
  padding: 0 20px;
  margin: 0 auto;
}

.wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 980px;
  margin: 0 auto;
}

.wrap div {
  width: 30%;
  height: 300px;
  margin-bottom: 20px;
  background: red;
  color: #fff;
  text-align: center;
  line-height: 300px;
}

@media screen and (max-width: 767px) {
  .wrap {
    display: block;
  }
  .wrap div {
    width: 100%;
  }
}
